/* stylelint-disable custom-property-empty-line-before */
/* stylelint-disable comment-empty-line-before */
/*
  Currently not possible to define different color values for the same color name just through
  the tailwind config, so using CSS variables instead.
  
  Palette reference: https://tailwindcss.com/docs/customizing-colors
  
  Only use colors from the default tailwind color palette so that migrating away from this (if ever needed)
  is easy.
 */

:root {
  /* used only as the page background */
  --base-page: #f1f5f9;
  /* used as the background for any element that sits on the page */
  --base: #fff;
  /* used as the background for any element that you want to emphasize */
  --base-2: #dbeafe;

  /* default foreground color */
  --foreground: #334155;
  /* dimmer foreground color, e.g. caption text */
  --foreground-2: #94a3b8;

  /* primary color */
  --primary: #3b82f6;
  /* focused primary color */
  --primary-focus: #2563eb;
  /* muted primary color */
  --primary-muted: #dbeafe;

  /* disabled color */
  --disabled: #d4d4d4;
  /* disabled foreground color */
  --disabled-muted: #fafafa;
}

:root.dark {
  --base-page: #000;
  --base: #171717;
  --base-2: #1e293b;

  --foreground: #d4d4d4;
  --foreground-2: #737373;

  --primary: #2563eb;
  --primary-focus: #3b82f6;
  --primary-muted: #1e293b;

  --disabled: #2b2b2b;
  --disabled-muted: #717171;
}
