/* stylelint-disable custom-property-empty-line-before */
/* stylelint-disable comment-empty-line-before */
/*
  Currently not possible to define different color values for the same color name just through
  the tailwind config, so using CSS variables instead.

  Palette reference: https://tailwindcss.com/docs/customizing-colors

  Only use colors from the default tailwind color palette so that migrating away from this (if ever needed)
  is easy.
 */

:root {
  /* used only as the page background */
  --foundation-page: #f1f5f9;
  /* used as the background for any element that sits on the page */
  --foundation: #fcfcfc;
  /* used as the background for any element that you want to emphasize */
  --foundation-2: #cbd5e1;
  /* for disabled backgrounds */
  --foundation-disabled: #dbeafe;

  /* default foreground color */
  --foreground: #334155;
  /* dimmer foreground color, e.g. caption text */
  --foreground-2: #94a3b8;
  /* disabled foreground color */
  --foreground-disabled: #93c5fd;
  /* primary color when used for text directly on top of foundation-page */
  --foreground-primary: #3b82f6;
  /* foreground color when put on top of a primary colored background */
  --foreground-on-primary: #fff;

  /* primary color */
  --primary: #3b82f6;
  /* focused primary color */
  --primary-focus: #2563eb;
  /* muted primary color */
  --primary-muted: #3b82f60d;
  /* primary outline */
  --primary-outline: #3b82f6;
  /* secondary variant of primary outline */
  --primary-outline-2: #93c5fd;

  /* success variations */
  --success: #34d399;
  --success-lighter: #d1fae5;
  --success-darker: #064e3b;

  /* warning variations */
  --warning: #fbbf24;
  --warning-lighter: #fef3c7;
  --warning-darker: #78350f;

  /* info variations */
  --info: #38bdf8;
  --info-lighter: #e0f2fe;
  --info-darker: #0c4a6e;

  /* danger variations */
  --danger: #f87171;
  --danger-lighter: #fee2e2;
  --danger-darker: #7f1d1d;

  /**
    * TODO: Remove, not in the design system anymore
    */
  /* disabled color */
  --disabled: #d4d4d4;
  /* disabled foreground color */
  --disabled-muted: #fafafa;
}

:root.dark {
  /* used only as the page background */
  --foundation-page: #18181b;
  /* used as the background for any element that sits on the page */
  --foundation: #27272a;
  /* used as the background for any element that you want to emphasize */
  --foundation-2: #3f3f46;
  /* for disabled backgrounds */
  --foundation-disabled: #52525b;

  /* default foreground color */
  --foreground: #f4f4f5;
  /* dimmer foreground color, e.g. caption text */
  --foreground-2: #d4d4d8;
  /* disabled foreground color */
  --foreground-disabled: #a1a1aa;
  /* primary color when used for text directly on top of foundation-page */
  --foreground-primary: #bfdbfe;
  /* foreground color when put on top of a primary colored background */
  --foreground-on-primary: #fafafa;

  /* primary color */
  --primary: #3b82f6;
  /* focused primary color */
  --primary-focus: #60a5fa;
  /* muted primary color */
  --primary-muted: #71717a0d;
  /* primary outline */
  --primary-outline: #a1a1aa;
  /* secondary variant of primary outline */
  --primary-outline-2: #52525b;

  /* success variations */
  --success: #34d399;
  --success-lighter: #a7f3d0;
  --success-darker: #064e3b;

  /* warning variations */
  --warning: #facc15;
  --warning-lighter: #fef08a;
  --warning-darker: #78350f;

  /* info variations */
  --info: #38bdf8;
  --info-lighter: #bae6fd;
  --info-darker: #0c4a6e;

  /* danger variations */
  --danger: #f87171;
  --danger-lighter: #fecaca;
  --danger-darker: #7f1d1d;

  /**
  * TODO: Remove, not in the design system anymore
  */
  --disabled: #2b2b2b;
  --disabled-muted: #717171;
}
