// $heading-font-family: 'Space Grotesk';

$primary-base: var(--v-primary-base);
$primary-darken: var(--v-secondary-base);
$primary-gradient: linear-gradient(0deg, $primary-darken 0%, $primary-base 40%);

// By default Vuetify shows a scrollbar on all pages even the ones that don't need it, which is quite ugly
// https://github.com/vuetifyjs/vuetify/issues/1197
html {
  overflow-y: auto !important;
}

@mixin speckle-gradient-bg {
  background: $primary-base;
  background: $primary-gradient;
}

@mixin speckle-gradient-txt {
  @include speckle-gradient-bg;
  -webkit-background-clip: text;
}

.background-light {
  background: #8e9eab;
  background: -webkit-linear-gradient(to top right, #eeeeee, #c8e8ff) !important;
  background: linear-gradient(to top right, #ffffff, #c8e8ff) !important;
}

.background-dark {
  background: #141e30;
  background: -webkit-linear-gradient(to top left, #243b55, #141e30) !important;
  background: linear-gradient(to top left, #243b55, #141e30) !important;
}

// TADAs
.tada-infinte {
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.tada-once {
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: 2;
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* TOOLTIPs */

.tooltip {
  display: block !important;
  z-index: 10000;
  font-family: 'Roboto', sans-serif !important;
  font-size: 0.75rem !important;
  pointer-events: none;
}

.tooltip .tooltip-inner {
  background: rgba(0, 0, 0, 1);
  color: white;
  border-radius: 16px;
  padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.tooltip[x-placement^='top'] {
  margin-bottom: 5px;
}

.tooltip[x-placement^='top'] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^='bottom'] {
  margin-top: 5px;
}

.tooltip[x-placement^='bottom'] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^='right'] {
  margin-left: 5px;
}

.tooltip[x-placement^='right'] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^='left'] {
  margin-right: 5px;
}

.tooltip[x-placement^='left'] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip.popover .popover-inner {
  background: #f9f9f9;
  color: black;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(black, 0.1);
}

.tooltip.popover .popover-arrow {
  border-color: #f9f9f9;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s, visibility 0.15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}

// Simple scrollbar (OSX-like) to use instead of the ugly browser one
@mixin simple-scrollbar {
  $sb-width: 6px;
  $sb-color: rgb(142, 142, 142);

  &::-webkit-scrollbar {
    width: $sb-width;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $sb-color;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(101, 101, 101);
  }
  &::-webkit-scrollbar-thumb:active {
    background: rgba(90, 90, 90, 101);
  }

  & {
    scrollbar-width: $sb-width;
    scrollbar-color: $sb-color;
  }
}

.simple-scrollbar {
  @include simple-scrollbar;
}

// Globally changing v-navigation-drawer scrollbar to the simple-scrollbar one
.v-navigation-drawer__content {
  @include simple-scrollbar;
}

// v-navigation-drawer resizer global restyle
.nav-resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 0px;
  height: 100%;
  z-index: 100000;
  transition: all 0.6s ease;
  opacity: 0.01;
  border: 4px solid royalblue;
}
.nav-resizer:hover {
  opacity: 0.5;
  width: 0px;
}

.no-mouse {
  pointer-events: none;
}
.mouse {
  pointer-events: auto;
}
