// $heading-font-family: 'Space Grotesk';

$primary-base: var(--v-primary-base);
$primary-darken: var(--v-secondary-base);
$primary-gradient: linear-gradient(0deg, $primary-darken 0%, $primary-base 40%);

@mixin speckle-gradient-bg {
  background: $primary-base;
  background: $primary-gradient;
}

@mixin speckle-gradient-txt {
  @include speckle-gradient-bg;
  -webkit-background-clip: text;
}

.background-light {
  background: #8e9eab;
  background: -webkit-linear-gradient(to top right, #eeeeee, #c8e8ff) !important;
  background: linear-gradient(to top right, #ffffff, #c8e8ff) !important;
}

.background-dark {
  background: #141e30;
  background: -webkit-linear-gradient(to top left, #243b55, #141e30) !important;
  background: linear-gradient(to top left, #243b55, #141e30) !important;
}

