{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "eslintIntegration": true,
  "jsxBracketSameLine": true,
  "vueIndentScriptAndStyle": false,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 100,
  "singleQuote": true
}
