apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: speckle-server
  namespace: {{ .Values.namespace }}
  labels:
{{ include "speckle.labels" . | indent 4 }}
  annotations:
    nginx.org/mergeable-ingress-type: "master"
    {{- if .Values.cert_manager_issuer }}
    cert-manager.io/cluster-issuer: {{ .Values.cert_manager_issuer }}
    {{- end }}
    nginx.ingress.kubernetes.io/proxy-body-size: {{ (printf "%dm" (int .Values.file_size_limit_mb)) | quote }}
    nginx.org/client-max-body-size: {{ (printf "%dm" (int .Values.file_size_limit_mb)) | quote }}
spec:
  ingressClassName: nginx
  {{- if .Values.cert_manager_issuer }}
  tls:
  - hosts:
    - {{ .Values.domain }}
    secretName: server-tls
  {{- end }}
  rules:
  - host: {{ .Values.domain }}

