.circleci
.nyc_output
.vscode
coverage

node_modules
**/node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE

test-queries
.editorconfig
Contributing.md
ISSUE_TEMPLATE.md
lerna.json
.env
.env.example
.eslintrc.json
.mocharc.js
readme.md 