.circleci
.git
**/node_modules
**/dist
test-queries
.editorconfig
Contributing.md
ISSUE_TEMPLATE.md
**/.env
.env.example
.eslintrc.json
.mocharc.js
readme.md
**/Dockerfile
**/.venv

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
