*node_modules
packages/server/.env
packages/frontend/dist
packages/viewer/dist
*.env
.nyc_output
coverage/
.vscode
test-queries

**/.DS_Store
.nvmrc

packages/viewer/example/*.js
packages/viewer/example/*.js.map
