*node_modules
packages/server/.env
packages/server/dist
packages/frontend/dist
packages/frontend/profiler
packages/viewer/dist
packages/objectloader/dist
packages/*/dist
packages/*/dist-esm
packages/*/dist-cjs
*.env
*.env.test
*.envrc
*.crt
.nyc_output
coverage/
.idea

**/.DS_Store
.nvmrc
.npmrc

packages/viewer/example/*.js
packages/viewer/example/*.js.map
packages/frontend/schema.graphql
.tool-versions

packages/server/reports*

**/venv/**
**/.venv/**
*.pyc
**/start/

# Profiler output
events.json
*.cpuprofile

# Optional eslint cache
.eslintcache

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

*yarn-error.log

# VSCode log files
packages/server/.vscode/*.log

# ST workspace files
./speckle.sublime-project
./speckle.sublime-workspace

# GitGuardian
.cache_ggshield

storybook-static
build-storybook.log
ensure-tailwind-deps.mjs.lock
vite.config.ts.timestamp-*.mjs
introspected-schema.graphql

# Deployment
kubeconfig
minio-data/
postgres-data/
redis-data/

.tshy-build

# Server
multiregion.json
multiregion.test.json