repos:
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v8.11.0' # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        # files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        # types: [file]
        additional_dependencies:
          - eslint@8.11.0
          - eslint-config-prettier@8.5.0
          - eslint-plugin-vue@8.5.0

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.5.1' # Use the sha / tag you want to point at
    hooks:
      - id: prettier
