# pre-commit for deployment related resources
# e.g. shell files, dockerfiles, helm chart etc..
repos:
  - repo: https://github.com/hadolint/hadolint
    rev: 'v2.10.0'
    hooks:
      - id: hadolint
  # Cannot use official repo as it relies on Docker, which cannot be supported by either pre-commit.ci or CircleCI
  - repo: https://github.com/Jarmos-san/shellcheck-precommit
    rev: 'v0.2.0'
    hooks:
      - id: shellcheck-system

  - repo: https://github.com/gruntwork-io/pre-commit
    rev: 'v0.1.17'
    hooks:
      - id: helmlint

  - repo: https://github.com/syntaqx/git-hooks
    rev: 'v0.0.17'
    hooks:
      - id: circleci-config-validate

  - repo: https://github.com/gitguardian/ggshield
    rev: 'v1.13.0'
    hooks:
      - id: ggshield
        language_version: python3
        stages: [commit]

ci:
  autoupdate_schedule: quarterly
