{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "vueIndentScriptAndStyle": false,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 88,
  "singleQuote": true,
  "plugins": ["prettier-plugin-organize-imports"]
}
