# pre-commit for deployment related resources
# e.g. shell files, dockerfiles, helm chart etc..
repos:
  - repo: https://github.com/hadolint/hadolint
    rev: 'v2.10.0'
    hooks:
      - id: hadolint
ci:
  autoupdate_schedule: quarterly
