# pre-commit for deployment related resources
# e.g. shell files, dockerfiles, helm chart etc..
repos:
  - repo: https://github.com/hadolint/hadolint
    rev: 'v2.10.0'
    hooks:
      - id: hadolint

  # Cannot use official repo as it relies on Docker, which cannot be supported by either pre-commit.ci or CircleCI
  - repo: https://github.com/Jarmos-san/shellcheck-precommit
    rev: 'v0.2.0'
    hooks:
      - id: shellcheck-system

ci:
  autoupdate_schedule: quarterly
