apiVersion: v1
kind: Service
metadata:
  name: speckle-frontend
  namespace: {{ .Values.namespace }}
  labels:
    app: speckle-frontend
    project: speckle-server
{{ include "frontend.labels" . | indent 4 }}
spec:
  selector:
    app: speckle-frontend
    project: speckle-server
  ports:
    - protocol: TCP
      name: www
      port: 80
      targetPort: www
