namespace: speckle-server
create_namespace: false
ssl_canonical_url: true
domain: speckle.internal
cert_manager_issuer: letsencrypt-staging
analytics:
  enabled: false
tlsRejectUnauthorized: '0'

server:
  replicas: 1
  # session_secret: secret -> `session_secret`
  auth:
    local:
      enabled: true
  logLevel: debug
  logPretty: true

  email:
    enabled: false

  speckleAutomateUrl: http://automate.speckle.internal # value is overridden when deployed with by ./scripts/local_deployment.sh
  monitoring:
    mp:
      enabled: false
  disable_tracking: true
  disable_tracing: true

objects:
  replicas: 1
  # session_secret: secret -> `session_secret`
  auth:
    local:
      enabled: true
  logLevel: debug
  logPretty: true

  email:
    enabled: false

  monitoring:
    mp:
      enabled: false
  disable_tracking: true
  disable_tracing: true

frontend_2:
  enabled: true
  logPretty: false #FIX: FE2 does not yet support 'true' https://linear.app/speckle/issue/WEB-1166/frontend-2-does-not-support-nuxt-public-log-pretty=true-in-docker

preview_service:
  replicas: 0
  logPretty: true

webhook_service:
  replicas: 0
  logPretty: true

fileimport_service:
  replicas: 0
  logPretty: true

monitoring:
  replicas: 0
  logPretty: true

s3:
  endpoint: 'http://minio.minio.svc.cluster.local:9000'
  bucket: 'speckle-server'
  access_key: minioadmin
  # secret_key: secret -> s3_secret_key

#redis:
# redis_url: secret -> redis_url

db:
  PGSSLMODE: 'disable'

helm_test_enabled: true
