version: 2.1

# TODO:
# add build workflow for frontend
# rename server test workflow
# add linting jobs
# run jobs/workflows on correct package changes (not all...)

workflows:
  version: 2.1
  test:
    jobs:
      - test_server
  deploy-latest:
    jobs:
      - docker_build_and_deploy:
          context: main-builds
          filters:
            branches:
              only: main
  deploy-prod:
    jobs:
      - docker_build_and_deploy:
          context: main-builds
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
  cristi-ci-test:
    jobs:
      - docker_build_and_deploy:
          context: main-builds
          filters:
            branches:
              only: cristi/ci-test

jobs:
  test_server:
    docker:
      - image: 'circleci/node:12'
      - image: 'circleci/redis:6'
      - image: 'circleci/postgres:12'
        environment:
          POSTGRES_DB: speckle2_test
          POSTGRES_PASSWORD: speckle
          POSTGRES_USER: speckle
    environment:
      NODE_ENV: test
      DATABASE_URL: 'postgres://speckle:speckle@localhost:5432/speckle2_test'
      PGDATABASE: speckle2_test
      PGUSER: speckle
      SESSION_SECRET: 'keyboard cat'
      STRATEGY_LOCAL: true
      CANONICAL_URL: 'http://localhost:3000'
    # Note: some of these commands need to be run in the server package folder.
    steps:
      - checkout
      - run:
          command: 'npm install'
          working_directory: 'packages/server'
      - run: 'dockerize -wait tcp://localhost:5432 -timeout 1m'
      - run:
          command: 'npm run test'
          working_directory: 'packages/server'
      - run:
          command: 'bash <(curl -s https://codecov.io/bash)'
          working_directory: 'packages/server'

  docker_build_and_deploy:
    docker:
      - image: circleci/python:3.6-buster
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Install kubectl
          command: |
            curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
            chmod u+x ./kubectl
      - run:
          name: Build Frontend
          command: env SPECKLE_SERVER_PACKAGE=frontend ./.circleci/build.sh
      - run:
          name: Build Server
          command: env SPECKLE_SERVER_PACKAGE=server ./.circleci/build.sh
      - run:
          name: Build Object Preview Service
          command: env SPECKLE_SERVER_PACKAGE=preview-service ./.circleci/build.sh
      - run:
          name: Deploy
          command: ./.circleci/deploy.sh
      - run:
          name: Test deployment
          command: |
            ./utils/test-deployment/install_prerequisites.sh
            SPECKLE_SERVER=https://latest.speckle.dev
            if [[ "$CIRCLE_TAG" =~ ^v.* ]]; then
              SPECKLE_SERVER=https://speckle.xyz
            fi
            ./utils/test-deployment/run_tests.py $SPECKLE_SERVER
