version: 2.1

workflows:
  version: 2

  test-build:
    jobs:
      - test-server:
          filters: &filters-everything
            tags:
              # run tests for any commit on any branch, including any tags
              only: /.*/

      - get-version:
          filters: *filters-everything

      - should-build:
          filters: *filters-everything

      - should-publish:
          filters: *filters-everything

      - pre-commit:
          filters: *filters-everything

      - docker-build-server:
          filters: &filters-build
            tags:
              only: /.*/
          requires:
            - test-server
            - get-version
            - should-build

      - docker-build-frontend:
          filters: *filters-build
          requires:
            - get-version
            - should-build

      - docker-build-webhooks:
          filters: *filters-build
          requires:
            - get-version
            - test-server
            - should-build

      - docker-build-file-imports:
          filters: *filters-build
          requires:
            - get-version
            - test-server
            - should-build

      - docker-build-previews:
          filters: *filters-build
          requires:
            - get-version
            - test-server
            - should-build

      - docker-build-test-container:
          filters: *filters-build
          requires:
            - get-version
            - test-server
            - should-build

      - docker-build-monitor-container:
          filters: *filters-build
          requires:
            - get-version
            - should-build

      - docker-publish-server:
          context: &docker-hub-context
            - docker-hub
          filters: &filters-publish
            branches:
              ignore: /pull\/[0-9]+/
            tags:
              only: /.*/
          requires:
            - get-version
            - should-publish
            - docker-build-server
            - pre-commit

      - docker-publish-frontend:
          context: *docker-hub-context
          filters: *filters-publish
          requires:
            - get-version
            - should-publish
            - docker-build-frontend
            - pre-commit

      - docker-publish-webhooks:
          context: *docker-hub-context
          filters: *filters-publish
          requires:
            - get-version
            - should-publish
            - docker-build-webhooks
            - pre-commit

      - docker-publish-file-imports:
          context: *docker-hub-context
          filters: *filters-publish
          requires:
            - get-version
            - should-publish
            - docker-build-file-imports
            - pre-commit

      - docker-publish-previews:
          context: *docker-hub-context
          filters: *filters-publish
          requires:
            - get-version
            - should-publish
            - docker-build-previews
            - pre-commit

      - docker-publish-test-container:
          context: *docker-hub-context
          filters: *filters-publish
          requires:
            - get-version
            - should-publish
            - docker-build-test-container
            - pre-commit

      - docker-publish-monitor-container:
          context: *docker-hub-context
          filters: *filters-publish
          requires:
            - get-version
            - should-publish
            - docker-build-monitor-container
            - pre-commit

      - publish-helm-chart:
          filters: &filters-publish
            branches:
              only:
                - main
                - hotfix*
            tags:
              only: &filters-tag /^[0-9]+\.[0-9]+\.[0-9]+$/
          requires:
            - get-version
            - should-publish
            - docker-publish-server
            - docker-publish-frontend
            - docker-publish-webhooks
            - docker-publish-file-imports
            - docker-publish-previews
            - docker-publish-monitor-container
            - docker-publish-test-container

      - publish-npm:
          filters:
            tags:
              only: *filters-tag
            branches:
              ignore: /.*/
          context:
            - npm-registry
          requires:
            - get-version

jobs:
  get-version:
    docker:
      - image: cimg/python:3.9
    working_directory: &work-dir /tmp/ci
    steps:
      - checkout
      - run: pwd
      - run: mkdir -p workspace
      - run:
          name: set version
          command: |
            echo "export IMAGE_VERSION_TAG=$(.circleci/get_version.sh)" >> workspace/env-vars
      - run: cat workspace/env-vars >> $BASH_ENV
      - run: echo "IMAGE_VERSION_TAG=${IMAGE_VERSION_TAG}"
      - persist_to_workspace:
          root: workspace
          paths:
            - env-vars

  should-publish:
    docker:
      - image: cimg/base:2022.08
    working_directory: *work-dir
    environment:
      # £ delimited strings of regex for matches which should be published
      PUBLISHABLE_TAGS: '^[0-9]+\.[0-9]+\.[0-9]+$'
      PUBLISHABLE_BRANCHES: '^main$£^hotfix.*£^alpha.*'
    steps:
      - checkout
      - run: pwd
      - run: mkdir -p workspace
      - run:
          name: determine whether to publish
          command: |
            echo "export SHOULD_PUBLISH=$(.circleci/should_publish.sh)" >> workspace/should-publish
      - run: cat workspace/should-publish >> $BASH_ENV
      - run: echo "SHOULD_PUBLISH=${SHOULD_PUBLISH}"
      - persist_to_workspace:
          root: workspace
          paths:
            - should-publish

  should-build:
    docker:
      - image: cimg/base:2022.08
    working_directory: *work-dir
    steps:
      - checkout
      - run: pwd
      - run: mkdir -p workspace
      - run:
          name: determine whether to build
          command: |
            echo "export SHOULD_BUILD=$(.circleci/should_build.sh)" >> workspace/should-build
      - run: cat workspace/should-build >> $BASH_ENV
      - run: echo "SHOULD_BUILD=${SHOULD_BUILD}"
      - persist_to_workspace:
          root: workspace
          paths:
            - should-build

  pre-commit:
    parameters:
      config_file:
        default: ./.pre-commit-config.yaml
        description: Optional, path to pre-commit config file.
        type: string
      deployment_config_file:
        default: ./.pre-commit-config.deployment.yaml
        description: Optional, path to additional pre-commit config file.
        type: string
      cache_prefix:
        default: ''
        description: |
          Optional cache prefix to be used on CircleCI. Can be used for cache busting or to ensure multiple jobs use different caches.
        type: string
    docker:
      - image: speckle/pre-commit-runner:latest
    resource_class: medium
    working_directory: *work-dir
    steps:
      - checkout
      - restore_cache:
          keys:
            - cache-pre-commit-<<parameters.cache_prefix>>-{{ checksum "<<parameters.config_file>>" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks --config <<parameters.config_file>>
      - save_cache:
          key: cache-pre-commit-<<parameters.cache_prefix>>-{{ checksum "<<parameters.config_file>>" }}
          paths:
            - ~/.cache/pre-commit
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn

      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - .yarn/cache
            - .yarn/unplugged
      - run:
          name: Run pre-commit
          command: ./.husky/pre-commit
      - run:
          command: git --no-pager diff
          name: git diff
          when: on_fail

  test-server:
    docker:
      - image: cimg/node:16.15
      - image: cimg/redis:6.2.6
      - image: 'cimg/postgres:14.2'
        environment:
          POSTGRES_DB: speckle2_test
          POSTGRES_PASSWORD: speckle
          POSTGRES_USER: speckle
      - image: 'minio/minio'
        command: server /data --console-address ":9001"
        # environment:

    environment:
      NODE_ENV: test
      DATABASE_URL: 'postgres://speckle:speckle@localhost:5432/speckle2_test'
      PGDATABASE: speckle2_test
      PGUSER: speckle
      SESSION_SECRET: 'keyboard cat'
      STRATEGY_LOCAL: 'true'
      CANONICAL_URL: 'http://localhost:3000'
      S3_ENDPOINT: 'http://localhost:9000'
      S3_ACCESS_KEY: 'minioadmin'
      S3_SECRET_KEY: 'minioadmin'
      S3_BUCKET: 'speckle-server'
      S3_CREATE_BUCKET: 'true'
      REDIS_URL: 'redis://localhost:6379'
      S3_REGION: '' # optional, defaults to 'us-east-1'
    steps:
      - checkout
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-server-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn workspaces focus
          working_directory: 'packages/server'

      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-server-{{ checksum "yarn.lock" }}
          paths:
            - .yarn/cache
            - .yarn/unplugged

      - run: 'dockerize -wait tcp://localhost:5432 -wait tcp://localhost:6379 -timeout 1m'

      - run:
          command: touch .env.test
          working_directory: 'packages/server'

      - run:
          name: 'Lint with TypeScript Compiler'
          command: yarn lint:tsc
          working_directory: 'packages/server'

      - run:
          command: yarn test:report
          working_directory: 'packages/server'

      - run:
          command: 'bash <(curl -s https://codecov.io/bash)'
          working_directory: 'packages/server'

      - store_test_results:
          path: packages/server/reports

      - store_artifacts:
          path: packages/server/coverage/lcov-report
          destination: package/server/coverage

  docker-build: &build-job
    docker: &docker-image
      - image: cimg/node:16.15
    resource_class: medium
    working_directory: *work-dir
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/ci/workspace
      - run: cat workspace/env-vars >> $BASH_ENV
      - run: cat workspace/should-build >> $BASH_ENV
      - setup_remote_docker:
          # a weird issue with yarn installing packages throwing EPERM errors
          # this fixes it
          version: 20.10.12
          docker_layer_caching: true
      - when:
          condition:
            equal: [true, '${SHOULD_BUILD}']
          steps:
            - run:
                name: Build and Publish
                command: ./.circleci/build.sh
            - persist_to_workspace:
                root: workspace
                paths:
                  - speckle*

  docker-build-server:
    <<: *build-job
    environment:
      SPECKLE_SERVER_PACKAGE: server

  docker-build-frontend:
    <<: *build-job
    environment:
      SPECKLE_SERVER_PACKAGE: frontend

  docker-build-previews:
    <<: *build-job
    environment:
      SPECKLE_SERVER_PACKAGE: preview-service

  docker-build-webhooks:
    <<: *build-job
    environment:
      SPECKLE_SERVER_PACKAGE: webhook-service

  docker-build-file-imports:
    <<: *build-job
    environment:
      SPECKLE_SERVER_PACKAGE: fileimport-service

  docker-build-test-container:
    <<: *build-job
    environment:
      FOLDER: utils
      SPECKLE_SERVER_PACKAGE: test-deployment

  docker-build-monitor-container:
    <<: *build-job
    environment:
      FOLDER: utils
      SPECKLE_SERVER_PACKAGE: monitor-deployment

  docker-publish: &publish-job
    docker: &base-image
      - image: cimg/base:2022.08
    resource_class: medium
    working_directory: *work-dir
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/ci/workspace
      - run: cat workspace/env-vars >> $BASH_ENV
      - run: cat workspace/should-publish >> $BASH_ENV
      - setup_remote_docker:
          # a weird issue with yarn installing packages throwing EPERM errors
          # this fixes it
          version: 20.10.12
          docker_layer_caching: true
      - run:
          name: Publish
          command: ./.circleci/publish.sh

  docker-publish-server:
    <<: *publish-job
    environment:
      SPECKLE_SERVER_PACKAGE: server

  docker-publish-frontend:
    <<: *publish-job
    environment:
      SPECKLE_SERVER_PACKAGE: frontend

  docker-publish-previews:
    <<: *publish-job
    environment:
      SPECKLE_SERVER_PACKAGE: preview-service

  docker-publish-webhooks:
    <<: *publish-job
    environment:
      SPECKLE_SERVER_PACKAGE: webhook-service

  docker-publish-file-imports:
    <<: *publish-job
    environment:
      SPECKLE_SERVER_PACKAGE: fileimport-service

  docker-publish-test-container:
    <<: *publish-job
    environment:
      FOLDER: utils
      SPECKLE_SERVER_PACKAGE: test-deployment

  docker-publish-monitor-container:
    <<: *publish-job
    environment:
      FOLDER: utils
      SPECKLE_SERVER_PACKAGE: monitor-deployment

  publish-npm:
    docker: *docker-image
    working_directory: *work-dir
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/ci/workspace
      - run: cat workspace/env-vars >> $BASH_ENV

      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn

      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - .yarn/cache
            - .yarn/unplugged

      - run:
          name: auth to npm as Speckle
          command: |
            echo "npmRegistryServer: https://registry.npmjs.org/" >> .yarnrc.yml
            echo "npmAuthToken: ${NPM_TOKEN}" >> .yarnrc.yml
      - run:
          name: try login to npm
          command: yarn npm whoami

      - run:
          name: build public packages
          command: yarn workspaces foreach -ptv --no-private run build
      - run:
          name: bump all versions
          # bump all versions in dependency tree order but not in parallel
          command: yarn workspaces foreach -tv version $IMAGE_VERSION_TAG

      - run:
          name: publish to npm
          command: 'yarn workspaces foreach -pv --no-private npm publish --access public'

  publish-helm-chart:
    docker: *docker-image
    working_directory: *work-dir
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/ci/workspace
      - run: cat workspace/env-vars >> $BASH_ENV
      - add_ssh_keys:
          fingerprints:
            - '9a:57:23:d4:c9:5f:4d:83:d6:fa:b2:00:6b:8d:86:31'
      - run:
          name: Publish Helm Chart
          command: ./.circleci/publish_helm_chart.sh
