apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "server.name" $ }}
  namespace: {{ .Values.namespace }}
  labels:
{{ include "server.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.server.replicas }}
  selector:
    matchLabels:
      app: speckle-server
      project: speckle-server
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
{{ include "server.labels" . | indent 8 }}
    spec:
      containers:
      - name: main
        image: speckle/speckle-server:{{ .Values.docker_image_tag }}
        imagePullPolicy: {{ .Values.imagePullPolicy }}

        ports:
          - name: http
            containerPort: {{ include "server.port" $ }}
            protocol: TCP

        resources:
          requests:
            cpu: {{ .Values.server.requests.cpu }}
            memory: {{ .Values.server.requests.memory }}
          limits:
            cpu: {{ .Values.server.limits.cpu }}
            memory: {{ .Values.server.limits.memory }}

        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          privileged: false
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 20000

        volumeMounts:
          - mountPath: /tmp
            name: tmp
        {{- if .Values.db.useCertificate }}
          - name: postgres-certificate
            mountPath: /postgres-certificate
        {{- end }}
          - name: secrets
            mountPath: "/etc/secrets/"
            readOnly: true

        # Allow for k8s to remove the pod from the service endpoints to stop receive traffic
        lifecycle:
          preStop:
            exec:
              command: ["sleep", "5"]


        livenessProbe:
          # account for long-running migrations
          initialDelaySeconds: 600
          periodSeconds: 60
          timeoutSeconds: 10
          exec:
            command:
              - node
              - -e
              - require('request')('http://localhost:3000/graphql?query={serverInfo{version}}', (e,r,b) => process.exit(b.toLowerCase().includes('error')))

        readinessProbe:
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 10
          exec:
            command:
              - node
              - -e
              - require('request')('http://localhost:3000/graphql?query={serverInfo{version}}', (e,r,b) => process.exit(b.toLowerCase().includes('error')))

        env:
          - name: CANONICAL_URL
            {{- if .Values.ssl_canonical_url }}
            value: https://{{ .Values.domain }}
            {{- else }}
            value: http://{{ .Values.domain }}
            {{- end }}

          - name: PORT
            value: {{ include "server.port" $ | quote }}
          - name: DEBUG
            value: "speckle:*"

          # SESSION_SECRET mounted as file

          - name: FILE_SIZE_LIMIT_MB
            value: {{ .Values.file_size_limit_mb | quote }}

          # *** Redis ***
          # REDIS_URL mounted as file

          # *** PostgreSQL Database ***
          # POSTGRES_URL mounted as file
          - name: POSTGRES_MAX_CONNECTIONS_SERVER
            value: {{ .Values.db.maxConnectionsServer | quote }}

          - name: PGSSLMODE
            value: "{{ .Values.db.PGSSLMODE }}"

          {{- if .Values.db.useCertificate }}
          - name: NODE_EXTRA_CA_CERTS
            value: "/postgres-certificate/ca-certificate.crt"
          {{- end }}

          # *** S3 Object Storage ***
          {{- if .Values.s3.endpoint }}
          - name: S3_ENDPOINT
            value: {{ .Values.s3.endpoint }}
          - name: S3_ACCESS_KEY
            value: {{ .Values.s3.access_key }}
          - name: S3_BUCKET
            value: {{ .Values.s3.bucket }}
          # S3_SECRET_KEY mounted as file
          - name: S3_CREATE_BUCKET
            value: "{{ .Values.s3.create_bucket }}"
          - name: S3_REGION
            value: "{{ .Values.s3.region }}"

          {{- end }}

          # *** Authentication ***

          # Local Auth
          {{- if .Values.server.auth.local.enabled }}
          - name: STRATEGY_LOCAL
            value: "true"
          {{- else }}
          - name: STRATEGY_LOCAL
            value: "false"
          {{- end }}

          # Google Auth
          {{- if .Values.server.auth.google.enabled }}
          - name: STRATEGY_GOOGLE
            value: "true"
          - name: GOOGLE_CLIENT_ID
            value: {{ .Values.server.auth.google.client_id }}
          # GOOGLE_CLIENT_SECRET mounted as file
          {{- end }}

          # Github Auth
          {{- if .Values.server.auth.github.enabled }}
          - name: STRATEGY_GITHUB
            value: "true"
          - name: GITHUB_CLIENT_ID
            value: {{ .Values.server.auth.github.client_id }}
          # GITHUB_CLIENT_SECRET mounted as file
          {{- end }}

          # AzureAD Auth
          {{- if .Values.server.auth.azure_ad.enabled }}
          - name: STRATEGY_AZURE_AD
            value: "true"
          - name: AZURE_AD_ORG_NAME
            value: {{ .Values.server.auth.azure_ad.org_name }}
          - name: AZURE_AD_IDENTITY_METADATA
            value: {{ .Values.server.auth.azure_ad.identity_metadata }}
          - name: AZURE_AD_ISSUER
            value: {{ .Values.server.auth.azure_ad.issuer }}
          - name: AZURE_AD_CLIENT_ID
            value: {{ .Values.server.auth.azure_ad.client_id }}
          # AZURE_AD_CLIENT_SECRET mounted as file
          {{- end }}


          # *** Email ***

          {{- if .Values.server.email.enabled }}
          - name: EMAIL
            value: "true"
          - name: EMAIL_HOST
            value: "{{ .Values.server.email.host }}"
          - name: EMAIL_PORT
            value: "{{ .Values.server.email.port }}"
          - name: EMAIL_USERNAME
            value: "{{ .Values.server.email.username }}"
          # EMAIL_PASSWORD mounted as file
          {{- end }}

          # *** Tracking / Tracing ***
          - name: SENTRY_DSN
            value: {{ .Values.server.sentry_dns }}
          {{- if .Values.server.disable_tracing }}
          - name: DISABLE_TRACING
            value: "true"
          {{- end }}
          {{- if .Values.server.disable_tracking }}
          - name: DISABLE_TRACKING
            value: "true"
          {{- end }}

          # Monitoring - Apollo
          {{- if .Values.server.monitoring.apollo.enabled }}
          - name: APOLLO_GRAPH_ID
            value: {{ .Values.server.monitoring.apollo.graph_id }}
          - name: APOLLO_SCHEMA_REPORTING
            value: "true"
          - name: APOLLO_GRAPH_VARIANT
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: APOLLO_SERVER_ID
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: APOLLO_SERVER_PLATFORM
            value: "kubernetes/deployment"
          - name: APOLLO_KEY
            valueFrom:
              secretKeyRef:
                name: {{ .Values.secretName }}
                key: apollo_key
          {{- end }}
      {{- if .Values.server.affinity }}
      affinity: {{- include "speckle.renderTpl" (dict "value" .Values.server.affinity "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.server.nodeSelector }}
      nodeSelector: {{- include "speckle.renderTpl" (dict "value" .Values.server.nodeSelector "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.server.tolerations }}
      tolerations: {{- include "speckle.renderTpl" (dict "value" .Values.server.tolerations "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.server.topologySpreadConstraints }}
      topologySpreadConstraints: {{- include "speckle.renderTpl" (dict "value" .Values.server.topologySpreadConstraints "context" $) | nindent 8 }}
      {{- end }}
      priorityClassName: high-priority

      securityContext:
        runAsNonRoot: true
        runAsUser: 20000
        fsGroup: 25000
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 30000
        seccompProfile:
          type: RuntimeDefault

      {{- if .Values.server.serviceAccount.create }}
      serviceAccountName: {{ include "server.name" $ }}
      {{- end }}
      terminationGracePeriodSeconds: 310
      volumes:
        - name: secrets
          secret:
            secretName: "{{ .Values.secretName }}"
            defaultMode: 0400
        - name: tmp
          emptyDir: {}
      {{- if .Values.db.useCertificate }}
        - name: postgres-certificate
          configMap:
            name: postgres-certificate
      {{- end }}
