{{- if (and (.Values.server.networkPolicy.enabled) (eq .Values.networkPlugin.type "cilium")) -}}
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: {{ include "server.name" $ }}
  namespace: {{ .Values.namespace }}
  labels:
{{ include "server.labels" . | indent 4 }}
spec:
  endpointSelector:
    matchLabels:
{{ include "server.selectorLabels" . | indent 6 }}
  ingress:
    - fromEndpoints:
        - matchLabels:
            io.kubernetes.pod.namespace: {{ .Values.ingress.namespace }}
{{ include  "speckle.ingress.selector.pod" $ | indent 12 }}
      toPorts:
        - ports:
            - port: http
              protocol: TCP
{{- if .Values.enable_prometheus_monitoring }}
    - fromEndpoints:
{{ .Values.prometheusMonitoring.networkPolicy.inCluster.cilium.fromEndpoints | toYaml | indent 10 }}
      toPorts:
        - ports:
            - port: http
              protocol: TCP
{{- end }}
    # ingress from file import service
    - fromEndpoints:
        - matchLabels:
{{ include "fileimport_service.selectorLabels" $ | indent 12 }}
      toPorts:
        - ports:
          - port: http
            protocol: TCP
  egress:
    - toEndpoints:
        - matchLabels:
            io.kubernetes.pod.namespace: kube-system
            k8s-app: kube-dns
      toPorts:
        - ports:
            - port: "53"
              protocol: UDP
          rules:
            dns:
              # TODO: remove egress to domain once https://github.com/specklesystems/speckle-server/issues/959 is fixed
              - matchName: {{ .Values.domain }}
{{- if .Values.server.monitoring.apollo.enabled }}
              - matchPattern: "*.api.apollographql.com"
{{- end }}
{{- if (ne "false" .Values.server.monitoring.mp.enabled) }}
              - matchName: 'analytics.speckle.systems'
{{- end }}
{{- if .Values.server.email.enabled }}
              # email server
{{ include "speckle.networkpolicy.dns.email.cilium" $ | indent 14 }}
{{- end }}
{{- if .Values.server.auth.google.enabled }}
              # google auth
              - matchName: 'accounts.google.com'
              - matchName: 'www.googleapis.com'
{{- end }}
{{- if .Values.server.auth.github.enabled }}
              # github auth
              - matchName: 'github.com'
              - matchName: 'api.github.com'
{{- end }}
{{- if .Values.server.auth.azure_ad.enabled }}
              # azure ad auth
              - matchPattern: '*.login.microsoftonline.com'
              - matchPattern: '*.aadcdn.msftauth.net'
              - matchPattern: '*.logincdn.msftauth.net'
              - matchPattern: '*.login.live.com'
              - matchPattern: '*.msauth.net'
              - matchPattern: '*.aadcdn.microsoftonline-p.com'
              - matchPattern: '*.microsoftonline-p.com'
              - matchPattern: '*.account.microsoft.com'
              - matchPattern: '*.bmx.azure.com'
              - matchPattern: '*.subscriptionrp.trafficmanager.net'
              - matchPattern: '*.signup.azure.com'
              - matchName: 'login.microsoftonline.com'
              - matchName: 'login.windows.net'
{{ include "speckle.renderTpl" (dict "value" .Values.server.auth.azure_ad.networkPolicy.domains "context" $ ) | indent 14 }}
{{- end }}
{{- if .Values.server.auth.oidc.enabled }}
              # oidc auth
{{ include "speckle.renderTpl" (dict "value" .Values.server.auth.oidc.domains "context" $ ) | indent 14 }}
{{- end }}
{{ include "speckle.networkpolicy.dns.postgres.cilium" $ | indent 14 }}
{{ include "speckle.networkpolicy.dns.redis.cilium" $ | indent 14 }}
{{ include  "speckle.networkpolicy.dns.blob_storage.cilium" $ | indent 14 }}
{{- if .Values.server.monitoring.apollo.enabled }}
    - toFQDNs:
        - matchPattern: "*.api.apollographql.com"
      toPorts:
        - ports:
            - port: "443"
              protocol: TCP
{{- end }}
{{- if .Values.server.email.enabled }}
    # email server
{{ include "speckle.networkpolicy.egress.email.cilium" $ | indent 4 }}
{{- end }}
{{- if .Values.server.auth.google.enabled }}
    # google auth
    - toFQDNs:
        - matchName: 'accounts.google.com'
        - matchName: 'www.googleapis.com'
      toPorts:
        - ports:
            - port: '443'
              protocol: TCP
{{- end }}
{{- if (ne "false" .Values.server.monitoring.mp.enabled) }}
    # monitoring
    - toFQDNs:
        - matchName: 'analytics.speckle.systems'
      toPorts:
        - ports:
            - port: '443'
              protocol: TCP
{{- end }}
{{- if .Values.server.auth.github.enabled }}
    # github auth
    - toFQDNs:
        - matchName: 'github.com'
        - matchName: 'api.github.com'
      toPorts:
        - ports:
            - port: '443'
              protocol: TCP
{{- end }}
{{- if .Values.server.auth.azure_ad.enabled }}
    # azure ad auth
    - toFQDNs:
        - matchPattern: '*.login.microsoftonline.com'
        - matchPattern: '*.aadcdn.msftauth.net'
        - matchPattern: '*.logincdn.msftauth.net'
        - matchPattern: '*.login.live.com'
        - matchPattern: '*.msauth.net'
        - matchPattern: '*.aadcdn.microsoftonline-p.com'
        - matchPattern: '*.microsoftonline-p.com'
        - matchPattern: '*.account.microsoft.com'
        - matchPattern: '*.bmx.azure.com'
        - matchPattern: '*.subscriptionrp.trafficmanager.net'
        - matchPattern: '*.signup.azure.com'
        - matchName: 'login.microsoftonline.com'
        - matchName: 'login.windows.net'
{{ include "speckle.renderTpl" (dict "value" .Values.server.auth.azure_ad.additional_domains "context" $ ) | indent 8 }}
      toPorts:
            - port: {{ default 443 .Values.server.auth.azure_ad.port | quote }}
              protocol: TCP
{{- end }}
{{- if .Values.server.auth.oidc.enabled }}
    # azure ad auth
    - toFQDNs:
{{ include "speckle.renderTpl" (dict "value" .Values.server.auth.oidc.domains "context" $ ) | indent 8 }}
      toPorts:
            - port: "443"
              protocol: TCP
{{- end }}
    # postgres
{{ include "speckle.networkpolicy.egress.postgres.cilium" $ | indent 4 }}
    # redis
{{ include "speckle.networkpolicy.egress.redis.cilium" $ | indent 4 }}
    # s3
{{ include "speckle.networkpolicy.egress.blob_storage.cilium" $ | indent 4 }}
    # allow egress to the ingress for speckle-server, so it can call itself
    # TODO: remove egress to domain once https://github.com/specklesystems/speckle-server/issues/959 is fixed
    - toFQDNs:
        - matchName: {{ .Values.domain }}
      toPorts:
        - ports:
          - port: "443"
            protocol: TCP
{{- end }}
