{{- if (and (.Values.server.networkPolicy.enabled) (eq .Values.networkPlugin.type "cilium")) -}}
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: {{ include "server.name" $ }}
  namespace: {{ .Values.namespace }}
  labels:
{{ include "server.labels" . | indent 4 }}
spec:
  endpointSelector:
    matchLabels:
{{ include "server.selectorLabels" . | indent 6 }}
  ingress:
    - fromEndpoints:
        - matchLabels:
            io.kubernetes.pod.namespace: {{ .Values.ingress.namespace }}
{{ include  "speckle.ingress.selector.pod" $ | indent 12 }}
      toPorts:
        - ports:
            - port: http
              protocol: TCP
    - fromEndpoints:
        - matchLabels:
{{ include "speckle.prometheus.selectorLabels" $ | indent 12 }}
      toPorts:
        - ports:
            - port: http
              protocol: TCP
{{- if .Values.helm_test_enabled }}
    # ingress from test
    - fromEndpoints:
        - matchLabels:
{{ include "test.selectorLabels" $ | indent 12 }}
      toPorts:
        - ports:
          - port: http
            protocol: TCP
{{- end }}
    # ingress from file import service
    - fromEndpoints:
        - matchLabels:
{{ include "fileimport_service.selectorLabels" $ | indent 12 }}
      toPorts:
        - ports:
          - port: http
            protocol: TCP
  egress:
    - toEndpoints:
        - matchLabels:
            io.kubernetes.pod.namespace: kube-system
            k8s-app: kube-dns
      toPorts:
        - ports:
            - port: "53"
              protocol: UDP
          rules:
            dns:
{{- if .Values.server.sentry_dns }}
              # DNS lookup for sentry
              - matchPattern: "*.ingest.sentry.io"
{{- end }}
{{ include "speckle.networkpolicy.dns.cilium" (list .Values.db.networkPolicy.externalToCluster .Values.redis.networkPolicy.externalToCluster ) | indent 14 }}
{{ include  "speckle.networkpolicy.dns.blob_storage.cilium" $ | indent 14 }}
{{- if .Values.server.sentry_dns }}
    # egress to sentry
    - toCIDRSet:
        - cidr: 34.120.195.249/32
      toPorts:
        - ports:
            - port: "443"
{{- end }}
    # postgres
{{ include "speckle.networkpolicy.egress.postgres.cilium" $ | indent 4 }}
    # redis
{{ include "speckle.networkpolicy.egress.redis.cilium" $ | indent 4 }}
    # s3
{{ include "speckle.networkpolicy.egress.blob_storage.cilium" $ | indent 4 }}
{{- end }}
