#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.background-dark {
  background: rgb(53, 69, 88);
  background: radial-gradient(
    at right center,
    rgb(29, 78, 216),
    rgb(30, 64, 175),
    rgb(17, 24, 39)
  );
}

#renderer {
  position: absolute;
  height: 100%;
  width: 100%;
}

#renderer0-controls:first-child {
  pointer-events: auto;
}
#renderer1-controls:first-child {
  pointer-events: auto;
}

canvas {
  position: absolute;
}

.button {
  border: 0;
  line-height: 1.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 2px;
  background-color: rgb(129, 129, 129);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.input {
  margin-bottom: 5px;
  left: 0px;
  border-radius: 0.1rem;
  border: 4px solid rgb(129, 129, 129);
}
