{{- if .Values.fileimport_service.enabled }}
{{- if ( or .Values.s3.endpoint .Values.s3.configMap.enabled ) }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: speckle-fileimport-service
  namespace: {{ .Values.namespace }}
  labels:
{{ include "fileimport_service.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.fileimport_service.replicas }}
  selector:
    matchLabels:
      app: speckle-fileimport-service
      project: speckle-server
  {{- with .Values.fileimport_service.deploymentStrategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  template:
    metadata:
      labels:
{{ include "fileimport_service.labels" . | indent 8 }}
    spec:
      containers:
      - name: main
        image: {{ default (printf "speckle/speckle-fileimport-service:%s" .Values.docker_image_tag) .Values.fileimport_service.image }}
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        args: #overwrites the Dockerfile CMD statement
        {{- if .Values.fileimport_service.inspect.enabled }}
          - {{ printf "--inspect=%s" .Values.fileimport_service.inspect.port }}
        {{- end }}
          - "bin/www.js"

        ports:
          - name: metrics
            containerPort: 9093
            protocol: TCP

        startupProbe:
          periodSeconds: 10
          failureThreshold: 18 # 10 * 18 = 180s to startup
          timeoutSeconds: 3
          {{- if .Values.featureFlags.nextGenFileImporterEnabled }}
          httpGet:
            path: /healthz
            port: 9080
          {{- else }}
          exec:
            command:
              - /usr/bin/node
              - -e
              - "process.exit((Date.now() - require('fs').readFileSync('/tmp/last_successful_query', 'utf8') > 25 * 60 * 1000) ? 1 : 0)"
          {{- end }}

        livenessProbe:
          initialDelaySeconds: 60
          periodSeconds: 60
          timeoutSeconds: 3
          {{- if .Values.featureFlags.nextGenFileImporterEnabled }}
          httpGet:
            path: /healthz
            port: 9080
          {{- else }}
          exec:
            command:
              - /usr/bin/node
              - -e
              - "process.exit((Date.now() - require('fs').readFileSync('/tmp/last_successful_query', 'utf8') > 25 * 60 * 1000) ? 1 : 0)"
          {{- end }}

        readinessProbe:
          initialDelaySeconds: 60
          periodSeconds: 10
          timeoutSeconds: 3
          {{- if .Values.featureFlags.nextGenFileImporterEnabled }}
          httpGet:
            path: /healthz
            port: 9080
          {{- else }}
          exec:
            command:
              - /usr/bin/node
              - -e
              - "process.exit((Date.now() - require('fs').readFileSync('/tmp/last_successful_query', 'utf8') > 25 * 60 * 1000) ? 1 : 0)"
          {{- end }}

        resources:
          {{- with .Values.fileimport_service.requests }}
          requests:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.fileimport_service.limits }}
          limits:
            {{- toYaml . | nindent 12 }}
          {{- end }}

        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          privileged: false
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 20000

        volumeMounts:
          - mountPath: /tmp
            name: tmp
          - mountPath: /.config
            name: dotconfig
        {{- if .Values.db.useCertificate }}
          - name: postgres-certificate
            mountPath: /postgres-certificate
        {{- end }}
        {{- if .Values.featureFlags.workspacesMultiRegionEnabled }}
          - name: multi-region-config
            mountPath: /multi-region-config
            readOnly: true
        {{- end }}

        env:
          {{- if (not .Values.featureFlags.nextGenFileImporterEnabled) }}
          - name: SPECKLE_SERVER_URL
            value: {{ printf "http://%s:%s" ( include "objects.service.fqdn" $ ) ( include "objects.port" $ ) }}
          {{- end }}

          {{- if .Values.featureFlags.nextGenFileImporterEnabled }}
          - name: REDIS_URL
            valueFrom:
              secretKeyRef:
                name: {{ default .Values.secretName .Values.redis.fileImportService.ifc.connectionString.secretName }}
                key: {{ default "fileimport_service_ifc_redis_url" .Values.redis.fileImportService.ifc.connectionString.secretKey }}
          - name: QUEUE_NAME
            value: {{ .Values.redis.fileImportService.ifc.queueName | quote }}
          {{- else }}
          # Dummy value for backwards compatibility
          - name: REDIS_URL
            value: "redis://redis"
          {{- end }}

          {{- if (not .Values.featureFlags.nextGenFileImporterEnabled) }}
          - name: PG_CONNECTION_STRING
            valueFrom:
              secretKeyRef:
                name: {{ default .Values.secretName .Values.db.connectionString.secretName }}
                key: {{ default "postgres_url" .Values.db.connectionString.secretKey }}
          {{- if .Values.fileimport_service.postgresMaxConnections }}
          - name: POSTGRES_MAX_CONNECTIONS_FILE_IMPORT_SERVICE
            value: {{ .Values.fileimport_service.postgresMaxConnections | quote }}
          {{- end }}
          - name: POSTGRES_CONNECTION_CREATE_TIMEOUT_MILLIS
            value: {{ .Values.db.connectionCreateTimeoutMillis | quote }}
          - name: POSTGRES_CONNECTION_ACQUIRE_TIMEOUT_MILLIS
            value: {{ .Values.db.connectionAcquireTimeoutMillis | quote }}

          - name: LOG_LEVEL
            value: {{ .Values.fileimport_service.logLevel | quote }}

          - name: LOG_PRETTY
            value: {{ .Values.fileimport_service.logPretty | quote }}

          {{- if .Values.db.useCertificate }}
          - name: NODE_EXTRA_CA_CERTS
            value: "/postgres-certificate/ca-certificate.crt"
          {{- end }}
          {{- end }}

          - name: FILE_IMPORT_TIME_LIMIT_MIN
            value: {{ (or .Values.file_import_time_limit_min .Values.fileimport_service.time_limit_min) | quote }}
          {{- if (not .Values.featureFlags.nextGenFileImporterEnabled) }}
          # DEPRECATED
          - name: MAX_OBJECT_SIZE_MB
            value: {{ .Values.server.max_object_size_mb | quote }}
          {{- end }}
          {{- if (and .Values.featureFlags.workspacesMultiRegionEnabled (not .Values.featureFlags.nextGenFileImporterEnabled)) }}
          - name: FF_WORKSPACES_MULTI_REGION_ENABLED
            value: {{ .Values.featureFlags.workspacesMultiRegionEnabled | quote }}
          - name: MULTI_REGION_CONFIG_PATH
            value: "/multi-region-config/multi-region-config.json"
          {{- end }}
          {{- if .Values.featureFlags.nextGenFileImporterEnabled }}
          - name: FF_NEXT_GEN_FILE_IMPORTER_ENABLED
            value: {{ .Values.featureFlags.nextGenFileImporterEnabled | quote }}
          {{- end }}
          {{- if .Values.featureFlags.experimentalIfcImporterEnabled }}
          - name: FF_EXPERIMENTAL_IFC_IMPORTER_ENABLED
            value: {{ .Values.featureFlags.experimentalIfcImporterEnabled | quote }}
          {{- end }}
          {{- if .Values.featureFlags.legacyIfcImporterEnabled }}
          - name: FF_LEGACY_IFC_IMPORTER_ENABLED
            value: {{ .Values.featureFlags.legacyIfcImporterEnabled | quote }}
          {{- end }}
          {{- with .Values.fileimport_service.additionalEnvVars }}
          {{- toYaml . | nindent 10}}
          {{- end }}
      {{- if .Values.fileimport_service.affinity }}
      affinity: {{- include "speckle.renderTpl" (dict "value" .Values.fileimport_service.affinity "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.fileimport_service.nodeSelector }}
      nodeSelector: {{- include "speckle.renderTpl" (dict "value" .Values.fileimport_service.nodeSelector "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.fileimport_service.tolerations }}
      tolerations: {{- include "speckle.renderTpl" (dict "value" .Values.fileimport_service.tolerations "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.fileimport_service.topologySpreadConstraints }}
      topologySpreadConstraints: {{- include "speckle.renderTpl" (dict "value" .Values.fileimport_service.topologySpreadConstraints "context" $) | nindent 8 }}
      {{- end }}

      securityContext:
        runAsNonRoot: true
        runAsUser: 20000
        fsGroup: 25000
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 30000
        seccompProfile:
          type: RuntimeDefault
      priorityClassName: low-priority
      {{- if .Values.fileimport_service.serviceAccount.create }}
      serviceAccountName: {{ include "fileimport_service.name" $ }}
      {{- else }}
      {{- /* NOTE: If there is a service account, Kubernetes adds the imagePullSecrets to Pods automatically. */}}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- end }}
      # Should be > File import timeout to allow finishing up imports
      terminationGracePeriodSeconds: 610
      volumes:
        - name: tmp
          emptyDir: {}
        - name: dotconfig
          emptyDir: {}
      {{- if .Values.db.useCertificate }}
        - name: postgres-certificate
          configMap:
            name: postgres-certificate
      {{- end }}
      {{- if .Values.featureFlags.workspacesMultiRegionEnabled }}
        - name: multi-region-config
          secret:
            secretName: {{ .Values.multiRegion.config.secretName }}
            items:
            - key: {{ .Values.multiRegion.config.secretKey }}
              path: "multi-region-config.json"
      {{- end }}
{{- end }}
{{- end }}
