/* stylelint-disable selector-id-pattern */
@import '@speckle/ui-components/style.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Don't pollute this - it's going to be bundled in all pages! If it's a global style change to what can be
 considered the "speckle tailwind theme" then make this change in @speckle/tailwind-theme instead
 */

/**
 * Making sure page is always stretched to the bottom of the screen even if there's nothing in it
 */
html,
body,
div#__nuxt,
div#__nuxt > div {
  min-height: 100%;
}

html,
body,
div#__nuxt {
  height: 100%;
}

/**
 * Disable overscroll to prevent accidental page
 * refresh when swiping through UI elements
 */
html,
body {
  overscroll-behavior: none;
}

@layer components {
  .terms-of-service {
    a {
      @apply underline;
    }
  }
}

.intercom-lightweight-app {
  z-index: 49 !important;
}
