/* stylelint-disable selector-id-pattern */

/** Main sans-serif font TODO: preload/prefetch */
/* @import 'https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;800&display=swap'; */
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap';
@import './tailwind-setup/semantic-colors.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Don't pollute this - it's going to be bundled in all pages!
 */

@layer components {
  /**
   * Common text styles
   */
  .h1 {
    @apply text-5xl;
  }

  .h2 {
    @apply text-4xl;
  }

  .h3 {
    @apply text-3xl;
  }

  .h4 {
    @apply text-2xl;
  }

  .h5 {
    @apply text-xl;
  }

  .label {
    @apply text-sm font-medium;

    &--light {
      @apply font-normal;
    }
  }

  [type='checkbox']:focus,
  [type='radio']:focus {
    @apply ring-offset-base;
  }

  .caption {
    @apply text-xs;
  }

  .layout-columns-single {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
  }

  .background-special {
    @apply bg-[radial-gradient(ellipse_at_top_left,_var(--tw-gradient-stops))] from-base to-primary dark:bg-blue-700 dark:from-sky-400 dark:via-blue-700 dark:to-indigo-900;
  }

  /* Note: we need to check how this looks on windows :) */
  .system-font-family {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }
}

/**
 * Making sure page is always stretched to the bottom of the screen even if there's nothing in it
 */
html,
body,
div#__nuxt,
div#__nuxt > div {
  min-height: 100%;
}

html,
body,
div#__nuxt {
  height: 100%;
}

body {
  @apply system-font-family;
}
