/* stylelint-disable selector-id-pattern */
@import './tailwind-setup/semantic-colors.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Don't pollute this - it's going to be bundled in all pages!
 */

@layer components {
  /**
   * Common text styles
   */
  .h1 {
    @apply text-5xl font-bold leading-10;
  }

  .h2 {
    @apply text-4xl font-bold leading-10;
  }

  .h3 {
    @apply text-3xl font-bold leading-9;
  }

  .h4 {
    @apply text-2xl font-bold leading-8;
  }

  .h5 {
    @apply text-xl font-medium leading-7;
  }

  .h6 {
    @apply text-lg font-medium leading-7;
  }

  .label {
    @apply text-sm font-medium leading-5;

    &--light {
      @apply font-normal;
    }
  }

  .normal {
    @apply text-base font-normal;
  }

  [type='checkbox']:focus,
  [type='radio']:focus {
    @apply ring-offset-foundation;
  }

  .caption {
    @apply text-xs;
  }

  /**
   * Grid/Layout container that limits max width to expected sizes that we use in our designs
   * (see Figma - Design System - Foundations - Grid & Layout)
   */
  .layout-container {
    @apply mx-auto;

    /* base/mobile - fluid, no max width, just padding */
    @apply px-4;

    /* sm+ - also fluid, increased padding */
    @media (min-width: theme('screens.sm')) {
      @apply px-8;
    }

    /* lg+ (from this point on, no padding just limited max width) */
    @media (min-width: theme('screens.lg')) {
      @apply px-0 max-w-[928px];
    }

    /* xl+ */
    @media (min-width: theme('screens.xl')) {
      @apply max-w-[1216px];
    }

    /* 2xl+ */
    @media (min-width: theme('screens.2xl')) {
      @apply max-w-[1312px];
    }
  }
}

/**
 * Making sure page is always stretched to the bottom of the screen even if there's nothing in it
 */
html,
body,
div#__nuxt,
div#__nuxt > div {
  min-height: 100%;
}

html,
body,
div#__nuxt {
  height: 100%;
}

body {
  @apply font-sans;
}
