<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <base href="/appname/"> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <style type="text/css">
      body {
        background-color: black;
        color: white;
      }
      @media screen and (prefers-color-scheme: light) {
        body {
          background-color: white;
          color: black;
        }
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but Speckle doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
      <div style='
      width: 500px;
      height: 300px;
      line-height: 300px;
      font-family: sans-serif !important;
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      font-weight: 400;
      font-size: 18px;
      '
      >
      🔓 Logging you in...
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
