{{- if .Values.webhook_service.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: speckle-webhook-service
  namespace: {{ .Values.namespace }}
  labels:
{{ include "webhook_service.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.webhook_service.replicas }}
  selector:
    matchLabels:
      app: speckle-webhook-service
      project: speckle-server
  {{- with .Values.webhook_service.deploymentStrategy }}
  strategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  template:
    metadata:
      labels:
{{ include "webhook_service.labels" . | indent 8 }}
    spec:
      containers:
      - name: main
        image: {{ default (printf "speckle/speckle-webhook-service:%s" .Values.docker_image_tag) .Values.webhook_service.image }}
        imagePullPolicy: {{ .Values.imagePullPolicy }}

        ports:
          - name: metrics
            containerPort: 9095
            protocol: TCP

        livenessProbe:
          initialDelaySeconds: 60
          periodSeconds: 60
          exec:
            command:
              - /nodejs/bin/node
              - -e
              - "process.exit(Date.now() - require('fs').readFileSync('/tmp/last_successful_query', 'utf8') > 30 * 1000 ? 1 : 0)"

        resources:
          {{- with .Values.webhook_service.requests }}
          requests:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.webhook_service.limits }}
          limits:
            {{- toYaml . | nindent 12 }}
          {{- end }}

        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          privileged: false
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 20000

        volumeMounts:
          - mountPath: /tmp
            name: tmp
        {{- if .Values.db.useCertificate }}
          - name: postgres-certificate
            mountPath: /postgres-certificate
        {{- end }}
        {{- if .Values.featureFlags.workspacesMultiRegionEnabled }}
          - name: multi-region-config
            mountPath: /multi-region-config
            readOnly: true
        {{- end }}

        env:
          - name: PG_CONNECTION_STRING
            valueFrom:
              secretKeyRef:
                name: {{ default .Values.secretName .Values.db.connectionString.secretName }}
                key: {{ default "postgres_url" .Values.db.connectionString.secretKey }}
          {{- if .Values.webhook_service.postgresMaxConnections }}
          - name: POSTGRES_MAX_CONNECTIONS_WEBHOOK_SERVICE
            value: {{ .Values.webhook_service.postgresMaxConnections | quote }}
          {{- end }}
          - name: POSTGRES_CONNECTION_CREATE_TIMEOUT_MILLIS
            value: {{ .Values.db.connectionCreateTimeoutMillis | quote }}
          - name: POSTGRES_CONNECTION_ACQUIRE_TIMEOUT_MILLIS
            value: {{ .Values.db.connectionAcquireTimeoutMillis | quote }}

          - name: LOG_LEVEL
            value: {{ .Values.webhook_service.logLevel }}
          - name: LOG_PRETTY
            value: {{ .Values.webhook_service.logPretty | quote }}

          {{- if .Values.db.useCertificate }}
          - name: NODE_EXTRA_CA_CERTS
            value: "/postgres-certificate/ca-certificate.crt"
          {{- end }}
          {{- if .Values.featureFlags.workspacesMultiRegionEnabled }}
          - name: FF_WORKSPACES_MULTI_REGION_ENABLED
            value: {{ .Values.featureFlags.workspacesMultiRegionEnabled | quote }}
          - name: MULTI_REGION_CONFIG_PATH
            value: "/multi-region-config/multi-region-config.json"
          {{- end }}
          {{- with .Values.webhook_service.additionalEnvVars }}
          {{- toYaml . | nindent 10}}
          {{- end }}

      {{- if .Values.webhook_service.affinity }}
      affinity: {{- include "speckle.renderTpl" (dict "value" .Values.webhook_service.affinity "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.webhook_service.nodeSelector }}
      nodeSelector: {{- include "speckle.renderTpl" (dict "value" .Values.webhook_service.nodeSelector "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.webhook_service.tolerations }}
      tolerations: {{- include "speckle.renderTpl" (dict "value" .Values.webhook_service.tolerations "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.webhook_service.topologySpreadConstraints }}
      topologySpreadConstraints: {{- include "speckle.renderTpl" (dict "value" .Values.webhook_service.topologySpreadConstraints "context" $) | nindent 8 }}
      {{- end }}

      priorityClassName: low-priority
      {{- if .Values.webhook_service.serviceAccount.create }}
      serviceAccountName: {{ include "webhook_service.name" $ }}
      {{- else }}
      {{- /* NOTE: If there is a service account, Kubernetes adds the imagePullSecrets to Pods automatically. */}}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- end }}

      securityContext:
        runAsNonRoot: true
        runAsUser: 20000
        fsGroup: 25000
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 30000
        seccompProfile:
          type: RuntimeDefault

      # Should be > webhook max call time ( ~= 10 seconds )
      terminationGracePeriodSeconds: 30

      volumes:
        - name: tmp
          emptyDir: {}
      {{- if .Values.db.useCertificate }}
        - name: postgres-certificate
          configMap:
            name: postgres-certificate
      {{- end }}
      {{- if .Values.featureFlags.workspacesMultiRegionEnabled }}
        - name: multi-region-config
          secret:
            secretName: {{ .Values.multiRegion.config.secretName }}
            items:
            - key: {{ .Values.multiRegion.config.secretKey }}
              path: "multi-region-config.json"
      {{- end }}
{{- end }}
