{{- if (and (.Values.fileimport_service.networkPolicy.enabled) (eq .Values.networkPlugin.type "kubernetes")) -}}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "webhook_service.name" $ }}
  namespace: {{ .Values.namespace }}
  labels:
{{ include "webhook_service.labels" . | indent 4 }}
spec:
  podSelector:
    matchLabels:
{{ include "webhook_service.selectorLabels" . | indent 6 }}
  policyTypes:
    - Egress
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: {{ default .Values.namespace .Values.prometheusMonitoring.namespace }}
          podSelector:
            matchLabels:
              {{ include  "speckle.prometheus.selectorLabels.release" $ | indent 14 }}
      ports:
        - port: metrics
  egress:
    # webhook can call anything external, but is blocked from egress elsewhere within the cluster
    - to:
        - ipBlock:
            cidr: 0.0.0.0/0
    # postgres
{{ include "speckle.networkpolicy.egress.postgres" $ | indent 4 }}
    # allow access to DNS
    - to:
        - namespaceSelector: {}
          podSelector:
            matchLabels:
              k8s-app: kube-dns
      ports:
        - port: 53
          protocol: UDP
{{- end -}}
