apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "webhook_service.name" $ }}
  namespace: {{ .Values.namespace }}
  labels:
{{ include "webhook_service.labels" . | indent 4 }}
spec:
  podSelector:
    matchLabels:
{{ include "webhook_service.selectorLabels" . | indent 6 }}
  policyTypes:
    - Egress
    - Ingress
  ingress:
    - from:
        - namespaceSelector: {}
          podSelector:
            matchLabels:
              release: kube-prometheus-stack
      ports:
        - port: metrics
  egress:
    # webhook can call anything external, but is blocked from egress elsewhere within the cluster
    - to:
        - ipBlock:
            cidr: 0.0.0.0/0
    # allow access to DNS
    - to:
        - namespaceSelector: {}
          podSelector:
            matchLabels:
              k8s-app: kube-dns
      ports:
        - port: 53
          protocol: UDP
