{{- if (and (.Values.webhook_service.networkPolicy.enabled) (eq .Values.networkPlugin.type "cilium")) -}}
apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: {{ include "webhook_service.name" $ }}
  namespace: {{ .Values.namespace }}
  labels:
{{ include "webhook_service.labels" . | indent 4 }}
spec:
  endpointSelector:
    matchLabels:
{{ include "webhook_service.selectorLabels" . | indent 6 }}
  ingress:
    - fromEndpoints:
        - matchLabels:
{{ include "speckle.prometheus.selectorLabels" $ | indent 12 }}
      toPorts:
        - ports:
            - port: "metrics"
              protocol: TCP
  egress:
    - toEndpoints:
        - matchLabels:
            io.kubernetes.pod.namespace: kube-system
            k8s-app: kube-dns
      toPorts:
        - ports:
            - port: "53"
              protocol: UDP
          rules:
            dns:
              # allow dns discoverability for all entities
              - matchPattern: "*"
{{ include "speckle.networkpolicy.dns.cilium" (list .Values.db.networkPolicy.externalToCluster) | indent 14 }}
    # postgres
{{ include "speckle.networkpolicy.egress.postgres.cilium" $ | indent 4 }}
    # allow access to all entities outside of the cluster
    - toEntities:
      - world
{{- end }}
