# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: P500 Frontend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to registry
      uses: docker/login-action@v1
      with:
        registry: https://arupspecklev2prodacr.azurecr.io/
        username: ${{ secrets.AzureAppService_ContainerUsername_de098371e29a46b5b05da0397be4e193 }}
        password: ${{ secrets.AzureAppService_ContainerPassword_f29c00baef67447a86121de1ccf89ba5 }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: arupspecklev2prodacr.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_de098371e29a46b5b05da0397be4e193 }}/frontend:${{ github.sha }}
        file: ./packages/frontend/Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'speckle-v2-frontend-prod-web'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_bad3a6f5559c46fc9ca24925c2190beb }}
        images: 'arupspecklev2prodacr.azurecr.io/${{ secrets.AzureAppService_ContainerUsername_de098371e29a46b5b05da0397be4e193 }}/frontend:${{ github.sha }}'